
/* Maujor Sticky Footer */
html, body { height:100%; }
html {
    overflow-y: scroll;
}
body {
    background-color: $bg-site;
    font-family: $font !important;
    font-size: 100% !important;
}

.lt-ie8 {
    /* less than IE8 | Really don't care */
    body { overflow-y: hidden; }
}
::-moz-selection {
    background: $bg-selection;
    color: $text-selection;
    text-shadow: none;
}
::selection {
    background: $bg-selection;
    color: $text-selection;
    text-shadow: none;
}
