
/* Maujor Sticky Footer */
html, body { height:100%; }
html {
    overflow-y: scroll;
}
body {
    background-color: #f2f2f2;
    font-family: $font !important;
    font-size: 100% !important;
}

.lt-ie8 {
    /* less than IE8 | Really don't care */
    body { overflow-y: hidden; }
}
::-moz-selection {
    background: rgb(34, 214, 187);
    color: #FFFFFF;
    text-shadow: none;
}
::selection {
    background: rgb(34, 214, 187);
    color: #FFFFFF;
    text-shadow: none;
}
