.btn-rec{
  background-color: $bg-buttom;
}
.github{
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
    svg{
      width: 60px;
      height: 60px;
    }
}
label[for="speech"],
input.input-duvida{
  font-size: 1.2em;
  color: $text-default;
  font-weight: 600;
  text-align: center;
    &::-webkit-input-placeholder{
      font-size: 1.2em;
      color: $text-default;
      font-weight: 600;
      text-align: center;
    }
    &::-ms-input-placeholder{
      font-size: 1.2em;
      color: $text-default;
      font-weight: 600;
      text-align: center;
    }
    &:-moz-placeholder{
      font-size: 1.2em;
      color: $text-default;
      font-weight: 600;
      text-align: center;
    }
    &::placeholder{
      font-size: 1.2em;
      color: $text-default;
      font-weight: 600;
      text-align: center;
    }
}
label[for="speech"].active{
  font-size: 1em !important;
  color: $label-active;
}
.spoken-response{
  font-size: 1em;
  background-color: $bg-response;
  color: $text-default;
  font-weight: 600;
  padding: 20px;
  line-height: 20px;
  opacity: 0;
}
.spoken-response.is-active{
  transition: opacity .25s ease-in-out;
  opacity: 1;
}
.title{
  margin-bottom: 10px;
  margin-top: 3%;
  margin-top: 10px;
  font-weight: 900;
  text-align: center;
  color: $title;
  font-size: 2.3em;
}
.robo{
  width: 50px;
  height: 50px;
  background-image: url(../image/robo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: fixed;
  display: inline-block;
  bottom: 0%;
  right: 0;
    a{
      width: 50px;
      height: 50px;
      float: left;
    }
}
.text{
  font-weight: 600;
  text-align: center;
  font-size: 1em;
  margin-bottom: 20px;
}
.btn-record{
  text-align: center;
}
.carregando{
  width: 100%;
  height: auto;
  float: left;
  text-align: center;
  font-weight: 600;
  font-size: 1em;
  display: none;
}
.version{
  p{
    text-align: center;
    font-size: .8em;
    font-weight: 600;
  }
}
.links{
  margin-top: 10px;
  ul{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  li{
    text-align: center;
    margin-bottom: 10px;
    margin-right: 1%;      
  }
}
.telegram{
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
    a{
      strong{
        font-weight: 600;
      }
      &:before{
        content: "";
        width: 19px;
        height: 16px;
        display: inline-block;
        background-image: url(../image/telegram-logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        padding-right: 0px;
        margin-right: 1px;
      }
    }
}
@media screen and (min-width: $tablet){
  .github{
    width: 80px;
    height: 80px;
      svg{
        width: 80px;
        height: 80px;
      }
  }
  .title{
    margin-bottom: 20px;
    margin-top: 3%;
    font-size: 3.4em;        
    &:before{
      position: relative;
      top: 0;
      left: 0;
    }
  }
  .text{
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  label[for="speech"],
  input.input-duvida{
    text-align: left;
      &::-webkit-input-placeholder{
        text-align: left;
      }
      &::-ms-input-placeholder{
        text-align: left;
      }
      &:-moz-placeholder{
        text-align: left;
      }
      &::placeholder{
        text-align: left;
      }
  }
  .links{
    ul{
      display: flex;
      justify-content: center;
    }
  }
}
@media screen and (min-width: $desktop){
  .title{
    font-size: 4em;
    margin-bottom: 30px;
  }
  .text{
    font-size: 1.4em;
    margin-bottom: 30px;
  }
  .spoken-response {
    font-size: 1.2em;
  }
}
@media screen and (min-width: $desktop-full){
  .title{
    font-size: 5em;
    margin-top: 20px;
  }
  .robo{
    width: 70px;
    height: 70px;
      a{
        width: 70px;
      height: 70px;
      }
  }
}